In [2]:
for i in range(1,11):
    print(i,end=' ' )

1 2 3 4 5 6 7 8 9 10

In [3]:
# For loop = For loop excicutes N number of steps perform in single line 
# While loop = While loop excicutes n number of steps in more than one line.

In [ ]:
num = int(input("enter the number"))
sum = 0
for i in range ( 1, num+1 ):
    sum=sum+i
    i = i+1
print ( "sum = ", sum)

In [7]:
mylist = ["Anshul" , "Mohit" , "Giri"]
for v in mylist:
    print(v)

Anshul
Mohit
Giri

In [8]:
list = [1,3,4,6,8,2]
list_of_products = 1
for i in list:
    list_of_products*= i
print(list_of_products)

1152

In [9]:
for x in range (0,20):
    if x%2==0:
        print(x)

0
2
4
6
8
10
12
14
16
18

In [10]:
num = int(input("enter a number :"))
fact=1 
for i in range(1, num+1):
    fact=fact*i
print("factorial of",num, "is",fact)

enter a number : 5

factorial of 5 is 120

In [11]:
x = "Anshul"
for ch in x:
    print(ch)

A
n
s
h
u
l

In [13]:
def max_num_in_list(list):
    max = list[0]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1,4,7,3]))

7

In [15]:
first = 0
second = 1
print(first)
print(second)
N = int(input("upto which element"))
for a in range(1,N):
    third = first+second
    print(third)
    first,second = second,third

0
1

upto which element 5

1
2
3
5

In [21]:
string = str(input("enter a string"))
vowels = 0
for i in string:
    if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
        vowels = vowels+1
print("No of vowels are:",vowels)

enter a string anshul

No of vowels are: 2

In [24]:
number = int(input("enter an integer: "))
for count in range(1,11):
    product = number * count
    print(number, "*" , count, "=", product)

enter an integer:  5

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [26]:
mylist = [10, "abc", 20 , "xyz"]
newlist = []
for i in range(1,len(mylist)+1):
    
    newlist.append(mylist[-i])
print(newlist)

['xyz', 20, 'abc', 10]

In [27]:
list1 = [1,2,3,4,5,6]
list2 = [4,5,6,7,8,9]
for x in list1:
    for y in list2:
        if x==y:
            print("common element is:",x)

common element is: 4
common element is: 5
common element is: 6

In [29]:
dict = {"Name": "Anshul Giri ","Year": 2021 , "Type":"Education"}
for i in dict:
    print (i,dict[i])

Name Anshul Giri
Year 2021
Type Education

In [30]:
n=input("enter a string:")
if n == n[::-1]:
    print(n+ "is a palindrome")
else:
    print(n+ " is not a palindrome")

enter a string: anam

anam is not a palindrome

In [31]:
n = input("enter a string")
count = 0
for words in n.split():
    count+=1
print("total words:",count)

enter a string My name is Anshul Giri

total words: 5

In [33]:
n = 50
sum = 0
for i in range(1,n):
    
    if i%2 != 0:
        sum = sum+ i
print("sum of all odd numbers = ",sum)

sum of all odd numbers =  625

In [34]:
year = int(input("enter the year:"))
if (year%4)==0:
    if (year%100)==0:
        if (year%400)==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year, " is a leap year")
else:
    print(year, "is not a leap year")

enter the year: 2024

2024  is a leap year

In [35]:
a = float(input("enter the number"))
b = a**(1/2)
print("square root ", b)

enter the number 5

square root  2.23606797749979

In [39]:
def compute_LCM (n1,n2):
    if n1>n2:
        higher = n1
    else  :
        higher = n2
    value = higher
    if higher%n1 == 0 and higher%n2 == 0:
        print("LCM of" , n1, "and", n2 , "is",higher)
    else:
        higher = higher + value
n1 = int(input("enter the first number"))
n2 = int(input("enter the second number"))
print(compute_LCM(n1,n2))

enter the first number 6
enter the second number 12

LCM of 6 and 12 is 12
None

In [41]:
num = float(input("enter number"))
if num>0:
    print("positive number")
else:
    print("negative number")

enter number 5

positive number

In [42]:
number = int(input("enter a number"))
if number % 2 ==0:
    print(number , "is a even number")
else:
    print(number, "is a odd number")

enter a number 7

7 is a odd number

In [43]:
n = int(input("enter thr marks"))
if n> 85:
    print("grade A")
elif n > 70:
    print("Grade B")
elif n > 55:
    print("Grade C")
elif n > 40:
    print( "Grade D")
else:
    print("Fail")

enter thr marks 65

Grade C

In [1]:
A = int(input("A"))
B = int(input("B"))
C = int(input("C"))
if A > B and A > C :
    print("A is greater")
elif B > C and B > C :  
    print("B is greater")
else:
    print("C is greater")

A 5
B 8
C 3

B is greater

In [2]:
num = int(input("enter the number"))
if num < 0 :
    num = -num
    print("|" , -num  , "|" , "=" , num)
else:
    ("|" , num , "|" , "=" , num)

enter the number -5

| -5 | = 5

In [3]:
ch = input("enter a charecter")
if ch in "aeiou":
    print(ch, " is a vowel")
else:
    print(ch , " is a consonent")

enter a charecter h

h  is a consonent

In [1]:

a = int(input("enter your age"))
if a > 18:
    print("yes you are eligible")
else:
    print("no you are not eligible")

enter your age 20

yes you are eligible

In [8]:
start = int(input("enter starting range"))
end = int(input("enter ending range"))
number = int(input("enter a number "))
if start <= number <= end :
    print("number is in the range")
else:
    print("number is not within the range")

enter starting range 1
enter ending range 9
enter a number  5

number is in the range

In [9]:
x = " apple" 
if not x:
    print("x is empty string")
else:
    print("x is not empty string")

x is not empty string

In [10]:
ch = input("enter a single character")
if ch >= 'A' and ch <= 'Z':
    print("you entered an uppercase character")
elif ch>= 'a' and ch <= 'z':
    print(" you entered a lowercase character")
elif ch>= '0' and ch<='9':
    print("you entered a digit")
else:
    print("you entered a special character")

enter a single character t

 you entered a lowercase character

In [14]:
import math 
a = int(input("enter a "))
b = int(input("enter b"))
c = int(input("enter c"))
d = b*b-4*a*c 
if d ==0:
    root1 = -b/(2*a)
    root2 = root1
    print("roots are real and unequal")
    print("root1  and root2 are ", root1, "and", root2)
elif d>0:
    root1 = (-b+math.sqrt(d))/(2*a)
    root2 = (-b-math.sqrt(d))/(2*a)
    print("roots are unequal and distinct") 
    print("root1 and root2 are ", root1, "and" , root2)
else:
    print("roots are complex and imaginary")

enter a  5
enter b 8
enter c 3

roots are unequal and distinct
root1 and root2 are  -0.6 and -1.0

In [15]:
# Break = Break statement is used to terminate the loop .
# Continue = Continue statement is used to continue the next iterations in the loop.

In [17]:
height= float(input("enter the height in cm"))
weight = float(input("enter the weighr in kg"))
BMI = weight / (height/100)**2
print ("your body mass index is " , BMI)
if BMI <= 18.5:
    print("you are underweight")
elif BMI <= 24.9:
    print("Awesome! You are healthy")
elif BMI <= 29.9:
    print("you are over weight")
else:
    print("you are obese")

enter the height in cm 155
enter the weighr in kg 52

your body mass index is  21.64412070759625
Awesome! You are healthy

In [18]:
def myfunc(x):
    if x > 18:
        return True
    else :
        return False
age = [ 11 ,12,14,19,25,False,True,1,0]
print(list(filter(None , age)))

[11, 12, 14, 19, 25, True, 1]

In [19]:
n = int(input("enter a number"))
for x in range (2,n):
    if n% x == 0:
        break
if x+1 == n:
    print(n, " is a prime no.")
else:
    print(n , " is not a prime no.")

enter a number 6

6  is not a prime no.

In [20]:
def make_even(num):
    if num%2==1:
        return num+1
    else:
        return num
    
x = [345 ,34,6,7,8,34,89,66,67,45]
y = []
for num in x :
    y.append(make_even(num))
print(y)

[346, 34, 6, 8, 8, 34, 90, 66, 68, 46]

In [21]:
# Map = Map is a built in function that applies a specified function to all the items in an iterable.

In [22]:
def square(n):
    return n ** 2
l = [1,2,3,4]
sq_num = map(square , l)
sq_num_l = list(sq_num)
print("op", sq_num_l)

op [1, 4, 9, 16]

In [23]:
#List Comprehension = expression for variable in iterable

In [25]:
nums = [3,6,8,12,14,15]
sq = [] 
for num in  nums:
    sq.append(num*num)

print([num*num for num in nums])

[9, 36, 64, 144, 196, 225]

In [32]:
names = ["anshul", "abhinav"]
uc = map(lambda x: x.upper(),names)
print(list(uc))

['ANSHUL', 'ABHINAV']

In [33]:
#reduce = reduce is a function that takes a function and a list as arguments and returns a single value as a redult

In [37]:
from functools import reduce
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,3,4,5]))

15

In [46]:
from functools import reduce 
product_list = reduce((lambda x, y : x*y) , list1)
product_list

24

In [45]:
list1 = [1,2,3,4]

In [47]:
import functools 
a = [1,2,13,56,8,4]
def findmax(a,b):
    if a>b:
        b=a
    return b 
x=functools.reduce(findmax,a,a[0])
print(x)

56

In [48]:
import functools
n= 5 
print(functools.reduce(lambda x,y :x*y ,range(1,n+1)))

120

In [49]:
#filter function = python filter function provides filter elements.this function also takes another function and a sequence as perameters.

In [50]:
my_list = [ 1,2,3,4,5]
even_numbers = list(filter(lambda x: x%2 ==0 , my_list))
print(even_numbers)

[2, 4]

In [54]:
list_of_values = [ 2,3,5,None ,6,8,None]
not_none_values = filter(None.__ne__,list_of_values)
list_of_values = list(not_none_values)
print(list_of_values)

[2, 3, 5, 6, 8]

/tmp/ipykernel_2095/951516884.py:3: DeprecationWarning: NotImplemented should not be used in a boolean context
  list_of_values = list(not_none_values)

In [55]:
l=[1,2,3,4,5,6,9]
print(list(filter(lambda x :x>3 ,l)))

[4, 5, 6, 9]

In [62]:

list1 =  ["anshul", "abhinav", "mohit"]
list2 = []
for ele in list1:
    if (len(ele)>5):
        list2.append(ele)
print(list2)

['anshul', 'abhinav']

In [63]:
#recursion = function calls itself
#iteration = set of instructions are repeatedly excicuted

In [64]:
def fact(n):
    if( n==0 or n==1):
        return 1
    else:
        return n * fact (n-1)
num = int(input("enter number"))
print("factorial is : ",fact(num))

enter number 5

factorial is :  120

In [4]:
def fibonacci(x):
    if x == 0:
        return 0
    elif x == 1:
        return 1
    else:
        return fibonacci(x-2) + fibonacci(x-1)
for x in range(5):
    print(fibonacci(x))

0
1
1
2
3

In [2]:
def sum_list(nums):
    if len(nums) == 0 :
        return 0
    return nums[0] + sum_list(nums[1:])

In [9]:
def reversel(str):
    size = len (str)
    if (size ==0):
        return
    last_char =str[size-1]
    print(last_char,end = "")
    reversel(str[0:size - 1])
reversel("anshul")

luhsna

In [10]:
def power(powe, exponent):
    if exponent==0:
        return 1 
    elif exponent >0:
        return base* power(base , exponent-1)
    else:
        return 1/power(base, -exponent)